[Unit]
Description=Mein Webhookserver
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=exec
ExecStart=webhookservice -s
ExecStop=webhookservice --exit
ExecStopPost=webhookservice --diagnose
Restart=on-failure

[Install]
WantedBy=multi-user.target